.App {
 background-color: rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
}


form{
  
  border: 2px solid;
  background: #fff;
  padding: 3rem;
  width: 60%;
  margin: 3rem auto;
  border-radius: 6px;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content{
  width: 80%;
  margin: 0 auto;
  background: #f3f1f1;
}
